.hidden{
    display: none;
}

.bgimage{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}